/* globals.css */

/*
 #3DD5FE
 #B3EBFF
 #70E0FF
 #1E88A5
 #FF5C8D
*/
body {
  margin: 0;
  padding: 0;
  background-color: #3dd5fe;
  overflow-x: hidden;
}

.exo-2-100 {
  font-family: "Exo 2", sans-serif;
  font-weight: 100;
}

.exo-2-200 {
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
}

/* Repeat for other weights */
.exo-2-300 {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
}

.exo-2-400 {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}

.exo-2-500 {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}

.exo-2-600 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
}

.exo-2-700 {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}

.exo-2-800 {
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
}

.exo-2-900 {
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
}

:root {
	/* Navbar */
  --navbar-text-font-size: 32px;
  --navbar-item-width: 150px;
  --navbar-item-padding: 20px;
  --navbar-dropdown-width: 190px;
  
  /* Card */
  --card-name-small-font-size: 24px;
  --card-name-small-height: 50px;

  /* Form */
  --form-font-size: 20px;
  --form-width: 450px;
}

@media (max-width: 408px){
	:root {
		--card-name-small-font-size: 12px;
		--card-name-small-height: 20px;

		--form-font-size: 16px;
		--form-width: 250px;
	}
}

@media (min-width: 409px) and (max-width: 640px) {
  :root {
    --navbar-text-font-size: 22px;

	--card-name-small-font-size: 12px;
	--card-name-small-height: 20px;

	--form-font-size: 18px;
	--form-width: 320px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
	:root {
		--navbar-text-font-size: 24px;

		--card-name-small-font-size: 16px;
		--card-name-small-height: 30px;

		--form-font-size: 20px;
		--form-width: 400px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	:root {
		--navbar-text-font-size: 26px;
		--navbar-item-width: 140px;
		--navbar-item-padding: 20px;
		--navbar-dropdown-width: 180px;

		--card-name-small-font-size: 20px;
		--card-name-small-height: 40px;

		--form-font-size: 22px;
		--form-width: 450px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	:root {
		--navbar-text-font-size: 26px;
		--navbar-item-width: 160px;
		--navbar-item-padding: 20px;
		--navbar-dropdown-width: 200px;

		--card-name-small-font-size: 22px;
		--card-name-small-height: 45px;

		--form-font-size: 22px;
		--form-width: 500px;
	}
}

@media (min-width: 1281px) and (max-width: 1480px) {
	:root {
		--navbar-text-font-size: 28px;
		--navbar-item-width: 180px;
		--navbar-item-padding: 20px;
		--navbar-dropdown-width: 220px;

		--card-name-small-font-size: 22px;
		--card-name-small-height: 45px;

		--form-font-size: 22px;
		--form-width: 500px;
	}
}

@media (min-width: 1481px) and (max-width: 1800px) {
	:root {
		--navbar-text-font-size: 30px;
		--navbar-item-width: 180px;
		--navbar-item-padding: 20px;
		--navbar-dropdown-width: 220px;

		--card-name-small-font-size: 26px;
		--card-name-small-height: 55px;

		--form-font-size: 24px;
		--form-width: 600px;
	}
}

@media (min-width: 1801px) and (max-width: 2200px) {
	:root {
		--navbar-text-font-size: 32px;
		--navbar-item-width: 220px;
		--navbar-item-padding: 20px;
		--navbar-dropdown-width: 260px;

		--card-name-small-font-size: 30px;
		--card-name-small-height: 60px;

		--form-font-size: 26px;
		--form-width: 700px;
	}
}

@media (min-width: 2201px) and (max-width: 2600px) {
	:root {
		--navbar-text-font-size: 34px;
		--navbar-item-width: 250px;
		--navbar-item-padding: 20px;
		--navbar-dropdown-width: 290px;

		--card-name-small-font-size: 34px;
		--card-name-small-height: 60px;

		--form-font-size: 28px;
		--form-width: 750px;
	}
}

@media (min-width: 2601px){
	:root {
		--navbar-text-font-size: 36px;
		--navbar-item-width: 300px;
		--navbar-item-padding: 20px;
		--navbar-dropdown-width: 340px;

		--card-name-small-font-size: 38px;
		--card-name-small-height: 75px;

		--form-font-size: 32px;
		--form-width: 900px;
	}
}