.footer {
  background-color: #B3EBFF;
  padding: 40px 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
  margin-top: 20px;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.footerSection div {
  padding: 0 20px;
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p,
.footer ul,
.footer form {
  font-size: 14px;
  margin: 5px 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin: 5px 0;
}

.footer ul li a {
  color: #000;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.newsletter {
  width: 500px;
}

.newsletter form {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  padding: 8px;
  flex: 1;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.newsletter button {
  background-color:#000;
  border: none;
  padding: 8px 16px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #c9302c;
}

.socialIcons {
  margin-top: 10px;
}

.socialIcons a {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}

.footerBottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  width: 100%;
}

.messagesContainer {
  margin-top: 10px;
}

@media (max-width: 408px) {
  .footer {
    padding: 5px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .footerSection div {
    flex: 1;
    padding: 0 5px;
  }

  .footer h4 {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .newsletter input {
    border-radius: 10px;
  }

  .newsletter button {
    border-radius: 10px;
  }

  .newsletter {
    width: 300px;
  }

  .footer p {
    font-size: 11px;
  }
}

@media (min-width: 409px) and (max-width: 640px) {
  .footer {
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  .footerSection div {
    flex: 1;
    padding: 0 5px;
    font-size: 16px;
  }

  .footer h4 {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .newsletter input {
    border-radius: 10px;
  }

  .newsletter button {
    border-radius: 10px;
  }

  .newsletter {
    width: 300px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .footer {
    padding: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .footer h4 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .newsletter input {
    border-radius: 10px;
  }

  .newsletter button {
    border-radius: 10px;
  }

  .newsletter {
    width: 400px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 15px;

  }

  .footer h4 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .newsletter {
    width: 500px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .footer {
    padding: 15px;

  }

  .footer h4 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .footer p,
  .footerBottom p {
    font-size: 16px;
  }

  .newsletter {
    width: 500px;
  }

  .footerSection div{
    padding: 0 100px;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .footer {
    padding: 20px 10px ;
  }
  .footer h4 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .footerSection a,
  .footerSection p,
  .footerBottom p {
    font-size: 20px;
  }

  .footerSection div{
    padding: 0 100px;
  }
}

@media (min-width: 1681px) and (max-width: 2000px) {
  .footer {
    padding: 20px 10px ;
  }

  .footer h4 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .footerSection a,
  .footerSection p,
  .footerBottom p {
    font-size: 20px;
  }

  .newsletter {
    width: 700px;
  }

  .newsletter h4 {
    font-size: 28px;
  }

  .newsletter input {
    height: 30px;
    font-size: 22px;
  }

  .newsletter button {
    width: 120px;
    font-size: 22px;
  }

  .footerSection div{
    padding: 0 100px;
  }
}

@media (min-width: 2001px) and (max-width: 2300px) {
  .footer {
    padding: 20px 10px ;
  }

  .footer h4 {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .footerSection a,
  .footerSection p,
  .footerBottom p {
    font-size: 22px;
  }

  .newsletter {
    width: 700px;
  }

  .newsletter h4 {
    font-size: 28px;
  }

  .newsletter input {
    height: 30px;
    font-size: 22px;
  }

  .newsletter button {
    width: 120px;
    font-size: 22px;
  }

  .footerSection div{
    padding: 0 100px;
  }
}

@media (min-width: 2301px) and (max-width: 2600px) {
  .footer {
    padding: 20px 10px ;
  }

  .footer h4 {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .footerSection a,
  .footerSection p,
  .footerBottom p {
    font-size: 22px;
  }

  .newsletter {
    width: 700px;
  }

  .newsletter h4 {
    font-size: 28px;
  }

  .newsletter input {
    height: 30px;
    font-size: 22px;
  }

  .newsletter button {
    width: 120px;
    font-size: 22px;
  }

  .footerSection div{
    padding: 0 100px;
  }
}

@media (min-width: 2601px) {
  .footer {
    padding: 20px 10px ;
  }

  .footer h4 {
    font-size: 26px;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .footerSection a,
  .footerSection p,
  .footerBottom p {
    font-size: 24px;
  }

  .newsletter {
    width: 900px;
  }

  .newsletter h4 {
    font-size: 30px;
  }

  .newsletter input {
    height: 30px;
    font-size: 24px;
  }

  .newsletter button {
    width: 140px;
    font-size: 24px;
  }

  .footerSection div{
    padding: 0 100px;
  }
}

@media (min-width: 2901px){

}