.form {
  width: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 700px;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.formLogin {
  width: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 700px;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.loginHeader {
  margin: 15px;
}

.formGroup {
  margin-bottom: 5px;
}

.formContainer {
  margin-bottom: 5px;
  width: var(--form-width);
}

.formLabel {
  display: block;
  font-size: var(--form-font-size);
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.formInput {
  width: 100%;
  padding: 10px;
  font-size: var(--form-font-size);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.formInput:focus {
  border-color: #0070f3;
  outline: none;
}

.error {
  color: #ff4d4f;
  margin: 10px 0 5px 0;
  font-size: var(--form-font-size);
  text-decoration: underline;
  display: block !important;
  visibility: visible !important;
}

.errorMessage {
  color: #333;
  margin: 5px 0 10px 0;
  font-size: var(--form-font-size);
  text-decoration: underline;
  display: block !important;
  visibility: visible !important;
}

.message {
  color: #333;
  margin: 10px 0 10px 0;
  font-size: var(--form-font-size);
}

.errorLinks {
  display: flex;
  flex-direction: column;
}

.formFooterContainer {
  width: var(--form-width);
  margin: 10px 0;
}

.formButton {
  width: 100%;
  padding: 10px;
  font-size: var(--form-font-size);
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.formButton:not(:disabled):hover {
  background-color: #005bb5;
}

.passwordInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  padding: 0;
  margin-top: 6px;
}

.passwordToggle:focus {
  outline: none;
}

.messagesContainer {
  margin-top: 15px;
}

.accessDeniedTitle {
  font-size: 40px;
}

.accessDeniedDesc {
  width: var(--form-width);
  font-size: 30px;
}

@media (max-width: 408px) {
  .form {
    margin: -40px;
  }

  .logo {
    width: 130px;
  }

  .formGroup {
    width: 250px;
  }

  .passwordToggle {
    font-size: 20px;
  }

  .accessDeniedTitle {
    font-size: 30px;
  }

  .accessDeniedDesc {
    font-size: 22px;
  }

  .formLogin {
    height: 450px;
    margin: -40px;
  }
}

@media (min-width: 409px) and (max-width: 640px) {
  /* sm */
  .form {
    margin: -40px;
  }

  .logo {
    width: 180px;
  }

  .passwordToggle {
    font-size: 20px;
  }

  .accessDeniedTitle {
    font-size: 32px;
  }

  .accessDeniedDesc {
    font-size: 24px;
  }

  .formLogin {
    height: 480px;
    margin: -40px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  /* md */
  .form {
    height: 800px;
    margin: -40px;
  }

  .logo {
    width: 200px;
  }

  .passwordToggle {
    font-size: 20px;
  }

  .accessDeniedTitle {
    font-size: 34px;
  }

  .accessDeniedDesc {
    font-size: 26px;
  }

  .formLogin {
    height: 550px;
    margin: -40px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .form {
    height: 900px;
  }

  .logo {
    width: 200px;
  }

  .passwordToggle {
    font-size: 25px;
  }

  .accessDeniedTitle {
    font-size: 34px;
  }

  .accessDeniedDesc {
    font-size: 26px;
  }

  .formLogin {
    height: 600px;
    margin: -40px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .form {
    height: 850px;
  }

  .logo {
    width: 200px;
  }

  .passwordToggle {
    font-size: 25px;
  }

  .accessDeniedTitle {
    font-size: 36px;
  }

  .accessDeniedDesc {
    font-size: 28px;
  }

  .formLogin {
    height: 600px;
    margin: -40px;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .form {
    height: 850px;
  }

  .logo {
    width: 200px;
  }

  .passwordToggle {
    font-size: 25px;
  }

  .accessDeniedTitle {
    font-size: 38px;
  }

  .accessDeniedDesc {
    font-size: 30px;
  }

  .formLogin {
    height: 600px;
    margin: -40px;
  }
}

@media (min-width: 1681px) and (max-width: 2000px) {
  .form {
    height: 850px;
  }

  .logo {
    width: 220px;
  }

  .passwordToggle {
    font-size: 25px;
  }

  .accessDeniedTitle {
    font-size: 38px;
  }

  .accessDeniedDesc {
    font-size: 30px;
  }

  .formLogin {
    height: 600px;
    margin: -40px;
  }
}

@media (min-width: 2001px) and (max-width: 2300px) {
  .form {
    height: 950px;
  }

  .logo {
    width: 250px;
  }

  .passwordToggle {
    font-size: 25px;
  }

  .accessDeniedTitle {
    font-size: 40px;
  }

  .accessDeniedDesc {
    font-size: 32px;
  }

  .formLogin {
    height: 600px;
    margin: -40px;
  }
}

@media (min-width: 2301px) and (max-width: 2600px) {
  .form {
    height: 1000px;
  }

  .logo {
    width: 300px;
  }

  .passwordToggle {
    font-size: 30px;
  }

  .accessDeniedTitle {
    font-size: 40px;
  }

  .accessDeniedDesc {
    font-size: 32px;
  }

  .formLogin {
    height: 600px;
    margin: -40px;
  }
}

@media (min-width: 2601px) and (max-width: 2900px) {
  .form {
    height: 1100px;
  }

  .logo {
    width: 300px;
  }

  .passwordToggle {
    font-size: 35px;
  }

  .accessDeniedTitle {
    font-size: 42px;
  }

  .accessDeniedDesc {
    font-size: 34px;
  }

  .formLogin {
    height: 650px;
    margin: -40px;
  }
}

@media (min-width: 2901px) {
  .form {
    height: 1100px;
  }

  .logo {
    width: 350px;
  }

  .passwordToggle {
    font-size: 40px;
  }

  .accessDeniedTitle {
    font-size: 44px;
  }

  .accessDeniedDesc {
    font-size: 36px;
  }

  .formLogin {
    height: 700px;
    margin: -40px;
  }
}
