.headerContainer {
  position: absolute;
  bottom: 20px; /* Adjusted to bottom */
  right: 20px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 10px;
}

.userInfo {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userIcon {
  width: 50px;
  height: 50px;
  color: #000;
}

.dropdownMenu {
  position: absolute;
  bottom: 70px; 
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 150px;
  text-align: center;
}

.dropdownArrow {
  position: absolute;
  bottom: -10px;
  right: 10px; 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff; 
}

.dropdownContent p {
  margin: 0;
  padding: 5px 0;
  font-size: 18px;
}

.dropdownContent button {
  width: 100%;
  padding: 5px 0;
  margin-top: 5px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
}

.links {
  color: #000;
  text-decoration: none;
}