.form {
  width: 400px;
  margin-top: 30px;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.formInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.formInput:focus {
  border-color: #0070f3;
  outline: none;
}

.errorMessage {
  color: #ff4d4f;
  margin: 10px 0 10px 0;
  font-size: 16px;
  text-decoration: underline;
}

.message {
  color: #333;
  margin: 10px 0 10px 0;
  font-size: 16px;
}

.errorLinks {
  display: flex;
  flex-direction: column;
}

.formButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.formButton:not(:disabled):hover {
  background-color: #005bb5;
}

/* General Container Style */
.captchaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* reCAPTCHA Widget */
.gRecaptcha {
  margin-top: 10px;
  transform: scale(0.90); /* Riduci leggermente la dimensione del CAPTCHA se necessario */
  transform-origin: 0 0; /* Assicura che il CAPTCHA si ridimensioni correttamente */
}

/* Label for CAPTCHA */
.captchaLabel {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

/* Error Message Styling */
.captchaError {
  color: #f00;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .g-recaptcha {
    transform: scale(0.85); /* Riduce la scala per schermi più piccoli */
  }
}

@media (max-width: 480px) {
  .g-recaptcha {
    transform: scale(0.80); /* Riduce ulteriormente la scala per schermi molto piccoli */
  }
}
