/* Container della Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fed901;
	padding: 10px;
	color: #000;
	font-family: Arial, sans-serif;
	position: relative;
	height: 70px;
}

.hamburger {
	font-size: 30px;
	cursor: pointer;
	display: none;
	padding: 8px;
}

.hamburger.openIcon {
	animation: rotateOpen 0.8s forwards;
}

.hamburger.closeIcon {
	animation: rotateClose 0.8s forwards;
}

@keyframes rotateOpen {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotateClose {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.hamburger:hover {
	transform: scale(1.2);
	transition: transform 0.3s ease;
}

/* Menu Desktop */
.navbarMenu {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.navbarItem {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
	width: 150px;
	transition: color 0.3s;
}

.navbarIcon {
	padding: 5px;
}

.navbarText {
	font-weight: 500;
	font-size: 20px;
}

.navbarItem.active,
.navbarItem:hover {
	color: #000;
}

.navbarActiveIndicator {
	position: absolute;
	bottom: 0;
	height: 4px;
	width: 170px;
	background-color: #000;
	border-radius: 2px 2px 0 0;
	transition: transform 0.3s ease;
}

/* Menu Mobile */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.mobileMenu {
	position: absolute;
	top: 60px;
	width: 100%;
	background-color: #fed901;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.mobileMenu.open {
	opacity: 1;
	transform: translateY(0);
	animation: slideDown 0.5s ease forwards;
	margin: -5px;
}

.mobileMenu.close {
	opacity: 0;
	transform: translateY(-20px);
	animation: slideUp 0.5s ease forwards;
	margin: -5px;
}

.hidden {
	display: none;
}


@media (max-width: 640px) {
	.navbar {
		justify-content: center;
		padding: 10px 0;
	}
	.hamburger {
		display: block; /* Mostra l'icona hamburger sui piccoli schermi */
	}

	.navbarMenu {
		display: none; /* Nasconde il menu desktop sui piccoli schermi */
	}

	.navbarItem {
		padding: 20px 0;
		text-align: center;
		border-bottom: 1px solid #333;
		width: 100%;
	}

	.navbarActiveIndicator {
		display: none;
	}

	.navbarIcon {
		display: none;
	}
}

@media (min-width: 641px) and (max-width: 768px) {
	.navbar {
		justify-content: center;
		padding: 10px 0;
	}

	.hamburger {
		display: block; /* Mostra l'icona hamburger sui piccoli schermi */
	}

	.navbarMenu {
		display: none; /* Nasconde il menu desktop sui piccoli schermi */
	}

	.navbarItem {
		padding: 20px 0;
		text-align: center;
		border-bottom: 1px solid #333;
		width: 100%;
	}

	.navbarActiveIndicator {
		display: none;
	}

	.navbarIcon {
		display: none;
	}

	.navbarText {
		width: 150px;
		font-size: 20px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.navbar {
		padding: 10px 0;
	}

	.hamburger {
		display: none;
	}

	.mobileMenu {
		display: none;
	}

	.navbarItem {
		padding: 10px 5px;
		width: 120px;
	}

	.spanContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0px 10px;
		max-width: 100px;
	}

	.navbarActiveIndicator {
		width: 130px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	.navbar {
		padding: 10px 0;
	}

	.hamburger {
		display: none;
	}

	.mobileMenu {
		display: none;
	}

	.navbarItem {
		padding: 10px;
		width: 140px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.navbarActiveIndicator {
		width: 160px;
	}

	.spanContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-items: center;
	}
}

@media (min-width: 1281px) and (max-width:1480px){
	.navbar {
		padding: 10px 0;
	}

	.hamburger {
		display: none;
	}

	.mobileMenu {
		display: none;
	}

	.navbarItem {
		padding: 10px;
		width: 160px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.navbarActiveIndicator {
		width: 180px;
	}

	.spanContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-items: center;
	}

	.navbarText {
		font-size: 20px;
	}
}

@media (min-width: 1481px) {
	.navbar {
		padding: 20px 0;
	}

	.hamburger {
		display: none;
	}

	.mobileMenu {
		display: none;
	}

	.navbarItem {
		padding: 10px;
		width: 180px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.navbarActiveIndicator {
		width: 200px;
	}

	.spanContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-items: center;
	}

	.navbarText {
		font-size: 24px;
	}
}
