.navbar {
	background-color: transparent;
	color: #000;
	display: block;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.logoContainer {
	justify-content: center;
}

.linksContainer {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.horizontalMenu {
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 0;
	border-radius: 30px;
	height: 90px;
}

.link {
	padding: 15px;
	transition: all 0.3s ease;
}


.link:hover {
	cursor: pointer;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
	color: #000;
}

.links {
	color: #000;
	text-decoration: none;
}

.dropdownMenu {
	position: absolute;
	top: 100%; 
	left: 88.5%; 
	transform: translateX(-50%); 
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	padding: 10px;
	width: 150px;
	text-align: center;
	z-index: 11; 
}
 

.dropdownArrow {
	position: absolute;
	top: -10px; 
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(255, 255, 255, 0.3); /* Adjust arrow direction */
}

.dropdownContent p {
	margin: 0;
	padding: 5px 0;
	font-size: 18px;
}

.dropdownContent button {
	width: 100%;
	padding: 5px 0;
	margin-top: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	cursor: pointer;
	font-size: 18px;
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;  
}

.hamburgerIcon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.verticalMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
	min-height: 70vh; /* Limita l'altezza massima della lista */
    overflow-y: auto;
}

.verticalMenu li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.mobileMenu {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 10;
	overflow-y:auto;
	max-height: calc(100vh - 100px);
}

@media (max-width: 640px) { /* sm */
	.horizontalMenu {
        display: none;
    }

    .hamburgerIcon {
        display: block;
		color: #fff;
    }

    .mobileMenu {
        display: block;
    }

	.logoContainer {
		display: none;
	}
}

@media (min-width: 641px) and (max-width: 768px) { /* md */
	.horizontalMenu {
        display: none;
    }

    .hamburgerIcon {
        display: block;
		color: #fff;
    }

    .mobileMenu {
        display: block;
    }

	.logoContainer {
		display: none;
	}
}

@media (min-width: 769px) and (max-width: 1024px) { /* lg */
	.logo {
		width: 130px;
	}

	.navbar {
		height: 70px;
	}

	.dropdownMenu {
		width: 100px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) { /* xl */
	
}

@media (min-width: 1281px) { /* 2xl */
	
}
