.laboratori {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 20px; 
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cardLayout .card,
.cardGrid .card {
  animation: slideIn 1s ease-out forwards;
}

.cardLayout .card {
  animation: slideIn 2s ease-out forwards;
}

.cardGrid .card {
  animation: slideIn 3s ease-out forwards;
}

.cardGrid .card:nth-child(1) {
  animation-delay: 1s;
}

.cardGrid .card:nth-child(2) {
  animation-delay: 2s;
}

.cardGrid .card:nth-child(3) {
  animation-delay: 3s;
}

.cardGrid .card:nth-child(4) {
  animation-delay: 4s;
}

.cardGrid .card {
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  cursor: pointer;
}

.activeCard {
  transform: translateX(-100px); /* Modifica questa proprietà per spostare la card */
}
