.navbar {
    background-color: #31278E;
    color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo-container {
    margin-right: 16px;
}

.links-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.horizontal-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    position: relative;
}

.item {
    position: relative;
}

.link {
    padding: 15px;
}

.link:hover {
    cursor: pointer;
    font-weight: bold;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.dropdown {
    position: relative;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #31278E;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    height: 120px;
}

.dropdown .dropdown-list {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.dd-item {
    padding: 10px;
}

.dd-link {
    padding: 5px;
}

.dd-link:hover {
    cursor: pointer;
    font-weight: bold;
}