.editButtonContainer {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 30px;
	padding: 10px;
	cursor: pointer;
}

.editIcon {
	display: flex;
	width: 45px;
	height: 45px;
	color: #000;
	align-items: center;
	justify-content: center;
}

.fixedPosition {
	position: fixed !important; /* Ensure 'fixed' is applied with higher priority */
	bottom: 20px;
	left: 20px;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 30px;
	padding: 10px;
	cursor: pointer;
}
