.headerContainer {
	position: relative;
	width: 90%;
	margin: 40px auto; 
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	box-sizing: border-box; 
}

.headerContainer img {
    position: static !important;
    height: auto !important;
    inset: auto !important;
    object-fit: contain !important; 
}

.headerContainer img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	object-fit: scale-down;
}

.title {
	margin: 0;
	margin-top: 10px;
}

.description {
	font-size: 16px;
	margin: 0;
}


.headerContainer.login {
	height: 600px;
}

div.headerContainer.formPageLayout {
	height: 600px;
}

.headerContainer.addImgDB {
	height: 600px;
}

.customImage {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.customImage img {
    object-fit: cover;
    object-position: center;
}

@media (max-width: 640px) { /* sm */
	.headerContainer {
		width: 90%;
		height: auto;
	}

	.title {
		font-size: 20px;
	}

	.headerContainer.formPageLayout {
		height: 50vh;
	}
}

@media (min-width: 641px) and (max-width: 768px) { /* md */
	.headerContainer {
		width: 85%;
		height: auto;
	}

	.title {
		font-size: 22px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) { /* lg */
	.headerContainer {
		width: 80%;
		height: auto;
	}

	.title {
		font-size: 24px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) { /* xl */
	.headerContainer {
		width: 75%;
		height: auto;
	}

	.title {
		font-size: 26px;
	}
}

@media (min-width: 1281px) and (max-width: 1480px)  {
	.headerContainer {
		width: 70%;
		height: auto;
		margin: 20px auto;
	}

	.title {
		margin: 0;
		font-size: 24px;
	}

	.registerHeader {
		padding: 15px;
	}
}


@media (min-width: 1481px) {
	.headerContainer {
		width: 70%;
		height: auto;
		margin: 20px auto;
	}

	.title {
		margin: 0;
		font-size: 24px;
	}

	.registerHeader {
		padding: 15px;
	}
}
