.container {
	margin-top: 30px;
}

.title {
	margin: 0;
	margin-top: 10px;
}

.description {
	font-size: 16px;
	margin: 0;
}


.headerContainer.login {
	height: 600px;
}

div.headerContainer.formPageLayout {
	height: 600px;
}

.headerContainer.addImgDB {
	height: 600px;
}

.customImage {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.customImage img {
    object-fit: cover;
    object-position: center;
}

@media (max-width: 408px) {
	.title {
		font-size: 18px;
	}

	.headerContainer.formPageLayout {
		height: 50vh;
	}
}

@media (min-width: 409px) and (max-width: 640px) { /* sm */
	.title {
		font-size: 20px;
	}

	.headerContainer.formPageLayout {
		height: 50vh;
	}
}

@media (min-width: 641px) and (max-width: 768px) { /* md */
	.title {
		font-size: 22px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) { /* lg */
	.title {
		font-size: 24px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) { /* xl */
	.title {
		font-size: 26px;
	}
}

@media (min-width: 1281px) and (max-width: 1480px)  {
	.title {
		margin: 0;
		font-size: 24px;
	}

	.registerHeader {
		padding: 15px;
	}
}


@media (min-width: 1481px) {
	.title {
		margin: 0;
		font-size: 24px;
	}

	.registerHeader {
		padding: 15px;
	}
}
